<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huike.review.mapper.MybatisReviewMapper">

    <insert id="saveData">
        insert into mybatis_review(name, age, sex)
        values (#{name}, #{age}, #{sex})
    </insert>

    <update id="update">
        update mybatis_review
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
            <if test="sex != null">
                sex = #{sex}
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="selectAll" resultType="com.huike.review.pojo.Review">
        select *
        from mybatis_review
    </select>

    <delete id="deleteById">
        delete
        from mybatis_review
        where id = #{id}
    </delete>

</mapper>
